<div ng-include="'app/main/main.html'"></div>
<div ng-controller="ClassDetailsController">
  <div class="detailsfontheader">
    <p>{{classdetails[0].CLASSNAME}}</p>
  </div>
    <div class="detailsfont">

      <p>Teacher : {{classdetails[0].YOGATEACHER_NAME}}</p>

    </div>
    <div>
    <ul style="list-style: none;">
        <li style="float: left;display:inline-block; padding: 10px;" ng-repeat="class in classdetails">
            <img height="150" width="100" ng-src="app\img\pose\{{ class.IMAGEPATH }}" title="{{class.POSENAME}}"" />
        </li>
  <ul>
</div>
</div>
