<div ng-controller="MainController">
  <md-content class="md-padding">
    <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('classes')" name="classes" >
        Yoga Class List
      </md-nav-item>
      <md-nav-item md-nav-click="goto('poses')" name="poses" >
        Yoga Pose List
      </md-nav-item>
      <md-nav-item md-nav-click="goto('teachers')" name="teachers">
        Yoga Teachers List
      </md-nav-item>
    </md-nav-bar>

    <!-- <div >
      External content for `<span>{{currentNavItem}}</span>`.
    </div> -->

    <!-- <md-checkbox ng-model="disableInkBar">Disable Ink Bar</md-checkbox>

    <md-checkbox ng-model="secondTabDisabled" aria-label="Disable Second Tab" style="margin: 5px;">
      Disable Second Tab
    </md-checkbox> -->

  </md-content>
</div>
