.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  background-color: rgba(158, 158, 158, 0.2);
}
/* Style the button that is used to open and close the collapsible content */
.detailsbutton {
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  justify-content: center;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .detailsbutton:hover {
  background-color: #ccc;
}

/* Style the button that is used to open and close the collapsible content */
.addItembutton {
  background-color: #ccc;
  cursor: pointer;
  padding: 18px;
  display: flex;
  justify-content: center;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 25px;
}
.wrapper{
  float:left;
  width:100%;
  text-align:center;
}
.button{
  background-color: #ccc;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: none;
  width:100px;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 50px;
  margin-left: 25px;
  display:inline-block;
}/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .addItembutton:hover {
  background-color: #ccc;
}

.tdst1{
    font-size: 15px;
}
.detailsfontheader{

  margin-left:25px;
  font-size: 20px;
}
.detailsfont{
  margin-left:25px;
  font-size: 15px;
}
.active, .tdst1:hover {
  background-color: #ccc;
}
table, th, td {
  margin-left: 10px;
}

th, td {
  padding: 5px;
}
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: none;
}
